# Node
node_modules/
npm-debug.log*
yarn.lock
pnpm-lock.yaml
dist/
build/
coverage/
tmp/

# Env y secretos
.env
.env.*

# Datos, logs, uploads
data/
uploads/
logs/

# OS/Editor
.DS_Store
*.swp
.idea/
.vscode/